/*
* {
    border: 2px solid red;
  }
*/

/*
html {
background-image: url("skyscrape.jpg");
}
*/
/*
html {
    background-image: url("cage_face.jpg");
    }
*/
/* PRETTY SURE THIS BUTTON CODE DOES NOTHING; DELETE LATER AFTER MAKING SURE SITE WORKS
SANS THIS CHUNK

<button style="color: black; 
background-color: orange; 
font-size: 18px;">Inline Method</button>
*/
/* DELETE THIS AFTER FURTHER SITE TESTING; UNNECESARRY CHUNK NOT IN USE
div {
    color: white; 
    background-color: red; 
    font-size: 32px; 
    text-align: center; 
    font-weight: bold;
  }
*/
/* adjusts the spacing and layout of naviational buttons
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/The_box_model
*/



/* HOMEPAGE Styles */

/* for the love of god don't delete id below somehow it affects .homepageColor */
#homepageTitle {
    color: black;
    font-size: 60px;
}

.homepageColor {
    background-color: #c14646;
    text-align: center;
    font-size: 60px;
    padding: 15px;
    margin:2px;
    border-width: 2px;
    border-style: groove;
    
}


/* DELETE AFTER FURTHER TESTING; VESTIGAL CODE
.recipieLinkButton button {
    color: black;
    font-size: 22px;
    
}
*/
.recipieButtons button{
    color: black;
    font-size: 22px;
    padding: 5px;
    margin:2px;
    border-width: 2px;
    border-style: groove;
}

.lasagnaStyle button{ 
    background-color: #83cdc0;  
}
  
.hotCheetoStyle button{
    background-color: rgb(132, 255, 0); 
}
  
.hotDocketStyle button{
    background-color: rgb(0, 149, 255); 
}       
.hotDoquitoStyle button{
    background-color: rgba(255, 0, 170, 0.822); 
}  

/* button effects, hover for interaction*/
button:hover {
    background-color: yellow;
}




/* general page styles */

.returnToHomebutton{
    color: black;
    background-color: #c14646;
    font-size: 22px;
    padding: 5px;
    margin:2px;
    border-width: 2px;
    border-style: groove;
}

.recipiePageTitle {
    text-align: center;
    color: black;
    font-size: 40px;
    padding: 5px;
    margin:2px;
    border-width: 2px;
    border-style: groove;
    
}

.ingredientsList,
.directionsList {
    color: black;
    font-size: 23;
    font-weight: bold;
}

/* populate for unique attributes*/
.ingredientsList {
}

.directionsList {
    
}
.nutritionInfo {
    color: black;
    font-size: 23;
    font-weight: bold;
    text-align: justify;
}

.listHeader {
    font-size:larger
}
/* images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/* lasagna page style ----------------------------------------------------*/

.lasagnaColor {
    background-color: #83cdc0;
}
/* hotcheetoeggs page style ----------------------------------------------------*/

.hotCheetoEggColor {
    background-color: rgb(132, 255, 0);
}

/* hotdocket page style ----------------------------------------------------*/

.hotDocketColor {
    background-color: rgb(0, 149, 255);
}

/* HotDoquito page style ----------------------------------------------------*/

.hotDoquitoColor {
    background-color: rgba(255, 0, 170, 0.822); 
}


