/*
* {
    border: 2px solid red;
  }
*/


html {
background-image: url("skyscrape.jpg");
}

/*
html {
    background-image: url("cage_face.jpg");
    }
*/
<button style="color: black; background-color: orange; font-size: 18px;">Inline Method</button>

div {
    color: white; background-color: red; font-size: 32px; text-align: center; font-weight: bold;
  }
*/
   
/* HOMEPAGE Styles */

/* for the love of god don't delete id below somehow it affects .homepageColor */
#homepageTitle {
    color: black;
    font-size: 60px;
}

.homepageColor {
    background-color: #c14646;
    text-align: center;
    font-size: 60px;

}



.recipieLinkButton button {
    color: black;
    font-size: 22px;
}

.lasagnaStyle button{
    color: black; 
    background-color: #83cdc0; 
    font-size: 22px;
}
  
.hotCheetoStyle button{
    color: black; 
    background-color: rgb(132, 255, 0); 
    font-size: 22px;
}
  
.hotDocketStyle button{
    color: black; 
    background-color: rgb(0, 149, 255); 
    font-size: 22px;
}       
.hotDoquitoStyle button{
    color: black; 
    background-color: rgba(255, 0, 170, 0.822); 
    font-size: 22px;
}  

/* general page styles */

.returnToHomebutton{
    color: black;
    background-color: #c14646;
    font-size: 22px;
}

.recipiePageTitle {
    text-align: center;
    color: black;
    font-size: 40px;
}

.ingredientsList,
.directionsList {
    color: black;
    font-size: 23;
    font-weight: bold;
}

/* populate for unique attributes*/
.ingredientsList {
}

.directionsList {
    
}
.nutritionInfo {
    color: black;
    font-size: 23;
    font-weight: bold;
    text-align: justify;
}

.listHeader {
    font-size:larger
}
/* images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



/* lasagna page style ----------------------------------------------------*/

.lasagnaColor {
    background-color: #83cdc0;
}
/* hotcheetoeggs page style ----------------------------------------------------*/

.hotCheetoEggColor {
    background-color: rgb(132, 255, 0);
}

/* hotdocket page style ----------------------------------------------------*/

.hotDocketColor {
    background-color: rgb(0, 149, 255);
}

/* HotDoquito page style ----------------------------------------------------*/

.hotDoquitoColor {
    background-color: rgba(255, 0, 170, 0.822); 
}


